body {
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px red solid;
    gap: 16px
}

#screen {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px;
}

#last {
    height: 32px;
    font-size: 20px;
}

#current {
    height: 64px;
    text-align: right;
    font-size: 40px;
    font-weight: 900;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 8px
}

.operand {
    border: 2px blue solid;
    border-radius: 8px;
    height: 64px;
    width: 64px;
    font-size: 24px;
    font-weight: 600;
}

.operand:hover {
    filter: brightness(85%);
}

#evaluate {
    background-color: blue;
    margin-bottom: 8px;
}

#AC {
    background-color: red;
}